ul.social-network {
    list-style: none;
    padding: 0;
}

ul.social-network li {

    display: inline;
    padding: 5px;

}
.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-facebook-square:hover{
    color:#3b5998 ;
}

.fa-intagram-square:hover{
    color:#e73ba8 ;
}
.fa-facebook-square:hover{
    color:#0072b1 ;
}